.btn{
    margin-top: 20px;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #CFAB8D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;

}
.btn:hover{
    transition: all 0.3s ease;
    background-color: #4F200D;
    color: white;
}

.signature-canvas{
    width: 100% !important;
    height: 300px;
}